.boxes{
  padding: 40px;
  background-color: #1e1e1e;
}

img{
  padding: 20px;
  background-color: #ffffff;
  border-radius: 6px;
}
.inside{
    background-color: #2a2a2a;
}
.nac{
  --bs-bg-opacity: 1;
  background-color: #6f6767;
  border-bottom: 1px solid #ffffff !important;
  
  
}

.mt-4 {
  margin-top: 1.5rem !important;
  
}
body, html {
  min-height: 100vh;
  background-color: #6f6767 !important;
  color: #1a1a1a;
}
.Skills{
    height: 400px;
    align-content: center;
    background-color: #6f6767;
    
    
   
}


.card {
  background-color: #2a2a2a;
  color: #eaeaea;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  margin: 30px;
}

#navbut {
    color: #ffffff;
}

